# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
secrets.yml
# C extensions
*.so
.aider*
.vscode
.envrc
.logfire/
.tool-versions
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are█
screenshots/**
